<main class="main is-visible" data-dropzone-area="">
  <div class="container h-100">
    <div class="d-flex flex-column h-100 position-relative">
      <!-- Chat: Header -->
      <div class="chat-header border-bottom py-4 py-lg-7">
        <div class="row align-items-center">
          <!-- Content -->
          <div class="col-8 col-xl-12">
            <div class="row align-items-center text-center text-xl-start">
              <!-- Title -->
              <div class="col-12 col-xl-6">
                <div class="row align-items-center gx-5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Chat: Content -->
      <!-- <ng-container *ngFor="let note of notes">-->
      <div class="chat-body hide-scrollbar flex-1 h-100" (scroll)="checkScroll($event)">

        <!-- Message -->
        <div id="sc-default" class="custom-scroll">
          <div *ngFor="let note of notes; index as i" [ngClass]="{'top-message': i == 0}">
            <div class="message-divider">
              <div class="date-separator">
                <div class="line">
                  <mat-divider></mat-divider>
                </div>
                <div class="text mat-typography chip">{{note.createdOn | date: 'EEEE, MMMM  d'}}</div>
                <div class="line">
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
            <div class="message">
              <span class="actions">
                <mat-icon fontIcon="edit" class="space icon"></mat-icon>
                 <mat-icon fontIcon="content_copy" class="space icon" (click)="copyToClipboard(note)"></mat-icon>
                <mat-icon fontIcon="delete" class="icon" (click)="deleteNote(note)"></mat-icon>
              </span>
              <div class="message-inner">
                <div class="message-body">
                  <div class="message-content">
                    <div id="{{note.noteId}}" class="message-text">
                      <div class="message-time">
                        {{note.createdOn | date: 'h:mm a'}}
                      </div>
                      <p class="message-content">{{note.note}}</p>
                    </div>
                  </div>
                </div>

                <div class="message-footer">
                </div>
              </div>
            </div>
            <!-- <div class="message-divider">
               <div class="date-separator">
                 <div class="line">
                   <mat-divider></mat-divider>
                 </div>
                 <div class="text mat-typography chip">Friday, Sep 20</div>
                 <div class="line">
                   <mat-divider></mat-divider>
                 </div>
               </div>
             </div>-->
          </div>
        </div>


      </div>
      <!-- Chat: Content -->
      <!-- </ng-container>-->
      <!-- Chat: Footer -->
      <create-note></create-note>
      <!-- Chat: Footer -->
    </div>

  </div>
</main>
