.notes {
  height: 90%;
  overflow: auto;
}

.message {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border: 2px;
  border-radius: 5px;
  position: relative;
}

.box {
  height: auto;
}

.inner-border {

}

.inner-outline {
  outline: 10px solid lightblue;
  outline-offset: -30px;
}

.message-container {
  display: flex;
  min-height: 70px;
  margin: 10px 20px 10px 20px;
}

.divider {
  margin: 10px 0;
}

.avatar {
  border-radius: 5px;
  width: 36px;
}

.content {
  padding-left: 16px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 90px;
}

.chat-content {
  padding-bottom: 6.5rem !important;
}

.message-divider {
  margin: 0;
}

.message {
  margin-bottom: 0;
  margin-right: 12px;
}

.message:hover .message-text {
  background-color: #d8dde0;
}

.date-separator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.chip {
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 24px;
  color: rgba(29, 28, 29, 1)
}

.message-time {
  color: rgba(97, 96, 97, 1);
}

.message-content {
  color: rgba(29, 28, 29, 1);
  white-space: pre-wrap;
}

.custom-scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-message {
  margin-top: auto;
  color: red;
}

.bottom-message {
  margin-bottom: 30px;
}

.actions {
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  z-index: 999;
  top: -15px;
  right: 15px;
  background: azure;
  cursor: pointer;
  display: none;
  color: black;
}

.message:hover .actions {
  display: block;
}

.space {
  margin-right: 8px;
}

.message:hover .icon:hover {
  border: 1px solid black;
  background-color: #b5b0b0;
  border-radius: 5px;
}

.media-file-card {
  width: 300px;
}

.media-filename-container {
  width: 250px;
  overflow: hidden;
  padding-top: 13px;
  padding-left: 10px;
}

.media-filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin-right: 10px;
}

.download-link {
  color: #000;
}

.media-file-image {
  height: 300px;
  object-fit: cover;
}
