.notes {
  height: 90%;
  overflow: auto;
}

.message {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border: 2px;
  border-radius: 5px;
}

.box {
  height: auto;
}

.inner-border {

}

.inner-outline {
  outline: 10px solid lightblue;
  outline-offset: -30px;
}

.message-container {
  display: flex;
  min-height: 70px;
  margin: 10px 20px 10px 20px;
}

.divider {
  margin: 10px 0;
}

.avatar {
  border-radius: 5px;
  width: 36px;
}

.content {
  padding-left: 16px;
}

