<main class="main is-visible" data-dropzone-area="">
  <div class="container h-100">
    <div class="d-flex flex-column h-100 position-relative">
      <!-- Chat: Header -->
      <div class="chat-header border-bottom py-4 py-lg-7">
        <div class="row align-items-center">
          <!-- Content -->
          <div class="col-8 col-xl-12">
            <div class="row align-items-center text-center text-xl-start">
              <!-- Title -->
              <div class="col-12 col-xl-6">
                <div class="row align-items-center gx-5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Chat: Content -->
      <!-- <ng-container *ngFor="let note of notes">-->
      <div class="chat-body hide-scrollbar flex-1 h-100" (scroll)="checkScroll($event)">

        <!-- Message -->
        <div id="sc-default" class="custom-scroll">
          <div *ngFor="let note of notes; index as i" [ngClass]="{'top-message': i == 0}">

            <div class="message-divider" *ngIf="isDividerVisible(i)">
              <div class="date-separator">
                <div class="line">
                  <mat-divider></mat-divider>
                </div>
                <div class="text mat-typography chip">{{getDateDisplayLabel(note)}}</div>
                <div class="line">
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>

            <div class="message" [ngClass]="{'bottom-message': i == notes.length - 1}">
              <span class="actions">
                <mat-icon fontIcon="edit" class="space icon" (click)="editNote(note)"></mat-icon>
                 <mat-icon fontIcon="content_copy" class="space icon" (click)="copyToClipboard(note)"></mat-icon>
                <mat-icon fontIcon="delete" class="icon" (click)="deleteNote(note)"></mat-icon>
              </span>
              <div class="message-inner">
                <div class="message-body">
                  <div class="message-content">
                    <div id="{{note.noteId}}" class="message-text">
                      <div class="message-time">
                        {{note.createdOn | date: 'h:mm a'}}
                      </div>
                      <p class="message-content">{{note.note}}</p>
                      <div *ngIf="note.files" class="flex-container">
                        <div *ngFor="let file of note.files">

                          <mat-card class="media-file-card">
                            <div class="flex-container">
                              <div class="media-filename-container">
                                <mat-card-subtitle class="media-filename">{{file.fileName}}</mat-card-subtitle>
                              </div>

                              <div>
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                  <button mat-menu-item>
                                    <mat-icon>download</mat-icon>
                                    <span><a href={{file.downloadLink}} class="download-link">Download</a></span>
                                  </button>
                                  <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                  </button>
                                </mat-menu>
                              </div>
                            </div>

                            <img mat-card-image src={{file.viewLink}} class="media-file-image">
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                          </mat-card>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="message-footer">
                </div>
              </div>
            </div>
            <!-- <div class="message-divider">
               <div class="date-separator">
                 <div class="line">
                   <mat-divider></mat-divider>
                 </div>
                 <div class="text mat-typography chip">Friday, Sep 20</div>
                 <div class="line">
                   <mat-divider></mat-divider>
                 </div>
               </div>
             </div>-->
          </div>
        </div>


      </div>
      <!-- Chat: Content -->

      <!-- Chat: Footer -->
      <create-note *ngIf="selectedNotebookId"></create-note>
      <!-- Chat: Footer -->
    </div>

  </div>
</main>
