.search {
  align-items: center;
  background-color: #3f0e40;
  display: flex;
  height: 7%;
  justify-content: center;
  vertical-align: middle;
}

.search-form-field {
  width: 800px;
}

/* Font color */
input.mat-input-element {
  color: white;
}

