<div class="chat-footer pb-3 pb-lg-7 position-absolute bottom-0 start-0">
  <!-- Chat: Files -->
  <div class="dz-preview bg-dark" id="dz-preview-row" data-horizontal-scroll="">
  </div>
  <!-- Chat: Files -->

  <!-- Chat: Form -->

  <div class="chat-form rounded-pill bg-dark" data-emoji-form="">
    <div class="row align-items-center gx-0">

      <div class="col">
        <div class="input-group">
                  <textarea cdkTextareaAutoSize
                            [(ngModel)]="note"
                            (keydown.enter)="saveNote();$event.preventDefault()"
                            #pRef (input)="setHeight()"
                            style="overflow: hidden;overflow-wrap: break-word;resize: none;margin-left:16px;margin-bottom: -10px"
                            class="form-control px-0" placeholder="Type your message..." rows="1" data-emoji-input=""
                            data-autosize="true">
                  </textarea>
        </div>
        <div>
          <file-upload (newFileUploadedEvent)="updateMediaFiles($event)"></file-upload>
        </div>

      </div>

      <div class="col-auto">
        <button class="btn btn-icon btn-primary rounded-circle ms-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-send">
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Chat: Form -->
</div>
