.card-input {
  width: auto;
  margin: 0 20px;
}

.textarea {
  min-width: 100%;
}

.mat-form {
  width: 100% !important;
  padding-bottom: 0 !important;
}

.form-control {
  color: rgba(29, 28, 29, 1);
}
