<mat-card class="card-input">
  <mat-card-content>
    <mat-form-field appearance="outline" class="mat-form">
      <mat-label>Enter your note...</mat-label>
      <textarea matInput
                [(ngModel)]="note"
                (keydown.enter)="saveNote()"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="15"
                class="textarea">
       </textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
