<input #fileInput type="file" (change)="selectFile($event)" style="display:none;" multiple/>
<a class="btn btn-icon text-body rounded-circle" id="dz-btn"
   (click)="accessToken ? fileInput.click() : uploadFiles()">
  <mat-spinner class="loading" *ngIf="loading"></mat-spinner>
  <mat-icon class="attach" *ngIf="!loading" fontIcon="attach_file"></mat-icon>
  <span class="authorize" *ngIf="!refreshToken">!</span>
</a>

<div class="files-container" *ngIf="uploadedFiles.length">
  <mat-card class="fileInfo">
    <mat-card-header>
      <mat-card-title>Files uploaded to Google Drive</mat-card-title>
      <mat-card-subtitle *ngFor="let uploadedFile of uploadedFiles">
        <mat-icon>insert_drive_file</mat-icon>
        <span *ngIf="!uploadedFile.driveUrl">
          {{uploadedFile.name}} - {{uploadedFile.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}"></mat-progress-bar>
          </span>
        <span *ngIf="uploadedFile.driveUrl">
          <a [href]="uploadedFile.driveUrl" target="_blank">{{uploadedFile.name}}</a>
        </span>
        <br>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
