.attach {
  color: black;
}

.authorize {
  color: red;
}

.loading {
  width: 25px !important;
}

.chips {
  margin-left: 16px;
}

.chip {
  background-color: #A988FF !important;
  margin-right: 5px;
}

.chip-link {
  color: black !important;
}
