<section>
  <div class="form-box">
    <div class="form-value">
      <h2>Login</h2>
      <div class="inputbox">
        <input type="text" placeholder=" " [(ngModel)]="username">
        <label>Username</label>
      </div>
      <div class="inputbox">
        <!-- <ion-icon name="lock-closed-outline"></ion-icon>-->
        <input type="password" placeholder=" " [(ngModel)]="password">
        <label>Password</label>
      </div>
      <div class="forget">
        <label><input type="checkbox">Remember Me <a href="#">Forget Password</a></label>

      </div>
      <button (click)="login()">Log in</button>
      <div class="register">
        <p>Don't have a account <a href="#">Register</a></p>
      </div>
    </div>
  </div>
</section>
