.home-channel-notes {
  display: flex;
  height: 93%;
}

.home-channel {
  flex: 2;
}

.notes-container {
  flex: 10;
  height: 80%;
}

.home-notes {
  height: 70%;
}

.create-note {
  min-height: 30%;
}
