<div class="search-content-container">

  <div class="chat-header border-bottom py-4 py-lg-7">
    <div class="row align-items-center">
      <!-- Content -->
      <div class="col-8 col-xl-12">
        <div class="row align-items-center text-center text-xl-start search-container">
          <!-- Title -->
          <div class="col-12 col-xl-8">
            <div class="row align-items-center gx-5">
              <div class="input-group">
                <div class="input-group-text">
                  <div class="icon icon-lg">
                    <mat-icon>search</mat-icon>
                  </div>
                </div>
                <input type="text" [(ngModel)]="searchQuery"
                       (keydown.enter)="search()"
                       class="form-control form-control-lg ps-0 search-box"
                       placeholder="Search for notes"
                       aria-label="Search for notes">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-title class="search-header">
    <div style="flex: 1;">Search Results</div>
    <div>
      <mat-form-field class="sortBy-options" appearance="outline">
        <mat-select [(ngModel)]="sortBy" (selectionChange)="search()">
          <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
            {{option.displayValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- </div>-->
  </div>

  <div mat-dialog-content class="search-results">
    <div class="chat-body hide-scrollbar flex-1 h-100">
      <!-- Message -->
      <div id="sc-default" class="custom-scroll">
        <div *ngFor="let note of searchResults.content; index as i" [ngClass]="{'top-message': i == 0}">

          <!--<div class="message-divider" *ngIf="isDividerVisible(i)">
            <div class="date-separator">
              <div class="line">
                <mat-divider></mat-divider>
              </div>
              <div class="text mat-typography chip">{{getDateDisplayLabel(note)}}</div>
              <div class="line">
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>-->

          <div class="message" [ngClass]="{'bottom-message': i == searchResults.content.length - 1}">
            <div class="message-inner">
              <div class="message-body">
                <div class="message-content">
                  <div id="{{note.noteId}}" class="message-text">
                    <div class="note-time">
                      <mat-icon fontIcon="book"></mat-icon>
                      {{note.notebookName}}
                    </div>
                    <div class="note-time">
                      {{note.createdOn | date: 'MMM d, y, h:mm a'}}
                    </div>
                    <p class="note-content">{{note.note}}</p>
                  </div>
                </div>
              </div>
              <div class="message-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="searchResults.totalElements"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChange($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>

